.App {
  text-align: center;
}

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

 .nav{
  border-bottom: 2px solid grey;
   height: 3vmax; 
  display:flex;
  justify-items:space-evenly
  /* align-items: center; */

 } 
 .button{
  align-items: right;
  padding-left: 2em
}
.btn{
  /* border:1px solid blue; */
  /* border-radius:11% */

} 