.App {
  text-align: center;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.nav{
  border-bottom: 2px solid grey;
  /* height: 7vmax; */
  justify-content: space-between;
  align-items: center;

}