@tailwind base;
@tailwind components;
@tailwind utilities;


/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.userChat{
  background-color: blueviolet;
border: 2px blue;
padding-top: 2px;
padding-bottom: 2px;
padding-left: 2px;
padding-right: 2px;
display: flex;

align-items: center;
cursor: pointer;
:hover {
  background-color: aquamarine;
  
}
}
.avatar{
  border-radius: 50%;
  border: 2px black;
  height: 2.4rem;
  justify-content: left;

}
.drop{
  margin-left: 2em;
}
.userChatInfo{
  padding: 0px 2px 2px 3vw  ;
}

