.messageconsole{
    display: flex;
    /* border:  4px solid black; */
     
    width: 100%;
    height: 80%;
}

.chat{
    /* display: flex; */
    width: 80vw;
    height: 80vh;
    flex: 2;
    /* border: 2px solid blue; */
    position: relative;
}

.profiles{
    width: 80vw;
    height: 80vh;
    flex: 1;
    /* border: 2px solid yellow; */

}
.chatbox{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 540px;
     position: absolute;    
     bottom: 0px;

}

.msgbox{
    border: 1px solid black;
    padding: 2px;
    
}

.sendbtn{
    border: 1px solid black;
    background: yellow;
    border-radius: 2px;
    
}
